{% extends 'base.html.twig' %}

{% block title %}Mes Pokémons{% endblock %}

{% block body %}
    <h1>Pokemon index</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pokemon in pokemons %}
            <tr>
                <td>{{ pokemon.id }}</td>
				<td>{{ pokemon.nom }}</td>
                <td>
                    <a href="{{ path('pokemon_show', {'id': pokemon.id}) }}">Voir la fiche détaillée</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
	
{% endblock %}
